@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

header > h1{
    text-align: center;
    height: 30px;
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 30px;
    color: rgb(2, 112, 2);
}
h1 > strong{
    color: red;
}

header{
    height: 50px;
    background-color: black;
    padding-top: 10px;
}